/* TaskBoard Container */
.taskboard-container {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

/* Navigation Bar */
.navbar {
    background-color: var(--nav-color);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #fff;
    
}

/* Main Content Area */
.main-content {
    display: flex;
    flex: 1;
    padding-top: 60px;
}

/* New Section - Left Side */
.new-section {
    width: 13%;
    padding: 20px;
    border-right: 1px solid #ccc;
    background-color: #1b3243f5;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    height: 90%;


}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
    color: #e6bc24;
}

.project-list li.active {
    background-color: #265484;
    color: white;
    border-radius: 20px;
}

/* Taskboard Content - Right Side */
.taskboard-content {
    width: 87%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    height: 100%;
}

.add-column {
    display: flex;
    margin-bottom: 20px;
}

.add-column input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    color: #333;
}

.add-column button {
    padding: 10px 20px;
    background-color: #265484;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.add-column button:hover {
    background-color: #20456c;
    
}

/* Columns */
.columns {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.column {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #333;
}

.column-menu button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.column-menu button:hover {
    color: red;
}

/* Tasks */
.tasks {
    margin-top: 10px;
    flex-grow: 1;
}

.task {
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    color: #333;
}

/* Dark Mode and Light Mode Colors */
:root {
    --nav-color: #272626F5;
}

@media (prefers-color-scheme: light) {
    :root {
        --nav-color: #fff;
    }
    nav.navbar {
        background-color: var(--nav-color);
        color: #333;
    }
}
