/* TaskBoard Container */
.taskboard-container {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

}

/* Navigation Bar */
.navbar {
    background-color: var(--nav-color);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #fff;
}

.navbar button {
    border-radius: 20px;
    margin: 10px;

}

/* Main Content Area */
.main-content {
    display: flex;
    flex: 1;
    padding-top: 60px;
    overflow-x: auto;
}

/* New Section - Left Side */
.new-section {
    width: 13%;
    padding: 20px;
    border-right: 1px solid #ccc;
    background-color: #1b3243f5;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    height: 90%;
}

.new-section button {
    padding: 10px;
    background-color: #0f1e2d;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.new-section button:hover {
    border: #e6bc24 solid 1px;
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 5px;
    color: #e6bc24;
    display: block;
}

.project-list li.active {
    background-color: #265484;
    color: white;
    border-radius: 20px;
}

/* Taskboard Content - Right Side */
.taskboard-content {
    width: 87%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.add-column {
    display: flex;
    margin-bottom: 20px;
}

.add-column input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #333;
}

.add-column button {
    padding: 10px 20px;
    background-color: #265484;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add-column button:hover {
    background-color: #20456c;

}

/* Columns */
.columns {
    overflow: visible;
    display: flex;
    gap: 20px;
    padding-right: 10px;
    /* 添加一些内边距，以便滚动条不会遮挡内容 */
    padding-bottom: 0;
    align-items: flex-start;
    /* 保证列从顶部开始对齐 */
}

.column {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    /* 使列不扩展以填充空间 */
    position: relative;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #333;
}

.column-menu button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.column-menu button:hover {
    color: red;
}

/* Tasks */
.tasks {
    margin-top: 10px;
    max-height: 450px;
    /* 设置最大高度 */
    overflow-y: auto;
    /* 启用垂直滚动 */
    padding-right: 10px;
    /* 防止滚动条遮挡内容 */
    display: row;
    align-items: center;
    /* 垂直居中对齐 */
    justify-content: space-between;
    /* 确保文本和按钮在行内两端对齐 */
    padding: 5px;
    /* 根据需要设置内边距 */
    border-bottom: 1px solid #ddd;
    /* 可选：为每个任务添加底部边框 */
}


.tasks .tasks {
    background: none;
    /* 移除默认按钮背景 */
    border: none;
    /* 移除按钮边框 */
    cursor: pointer;
    /* 鼠标悬停时显示手型指针 */
    font-size: 24px;
    /* 调整三个点的大小 */
    color: #333;
    /* 设置三个点的颜色 */
    border-radius: 50%;
    /* 可选：将按钮变成圆形 */
    position: relative;
    margin-top: 0;
    padding: 0;
}

.tasks .task-name {
    position: relative;
    max-width: 40%;
    /* 根据需要设置最大宽度 */
    overflow: hidden;
    /* 隐藏超出容器的内容 */
    text-overflow: ellipsis;
    /* 用省略号代替溢出的文本 */
    top: 6px;
    left: 6px;
}


.task-name {
    flex-grow: 1;
    /* 让任务名称占据剩余的水平空间 */
    text-align: left;
    /* 任务名称左对齐 */
    margin-right: 120px;
    /* 调整任务名称与按钮之间的距离 */
}

.task {
    background-color: #eee;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    color: #333;
    display: flex;
}

/* Dark Mode and Light Mode Colors */
:root {
    --nav-color: #272626F5;
}

@media (prefers-color-scheme: light) {
    :root {
        --nav-color: #fff;
    }

    nav.navbar {
        background-color: var(--nav-color);
        color: #333;
    }
}

.add-project-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #265484;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add-project-btn:hover {
    background-color: #20456c;
}


.project-action-panel {
    color: #e6bc24;
    position: absolute;
    left: 0px;
    top: 60px;
    width: 120px;
    right: 0;
    background-color: #333;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    border-radius: 20px;

}

.action-panel {
    color: #e6bc24;
    position: absolute;
    left: 120px;
    top: 60px;
    width: 120px;
    right: 0;
    background-color: #333;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    border-radius: 20px;
}

.action-panel button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
}

.action-panel button:hover {
    background-color: #265484;
}

/* 项目列表中的星标按钮 */
.project-list li button {
    border: none;
    background: none;
    color: gold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    padding: 0;
    ;
}


.project-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 5px;
    color: #e6bc24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.project-list span {
    white-space: nowrap;
    /* 不换行 */
    overflow: hidden;
    /* 隐藏超出的文本 */
    text-overflow: ellipsis;
    /* 用省略号显示溢出部分 */
    width: 100%;
    /* 限制最大宽度 */
}

.project-list li:hover {
    background-color: #265484;
    color: white;
    border-radius: 20px;
}

.project-list li button {
    border: none;
    background: none;
    color: gold;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin-left: 2px;
    margin-bottom: 0;
    position: relative;
    right: 0;
}

.project-list li button:hover {
    color: orange;
}



/* 其他样式保持不变 */
/* TaskBoard.css */

.task {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 5px;
}

.add-column input {
    margin-right: 10px;
}


/* Overlay background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    /* Adjust the blur level if needed */
    z-index: 999;
    /* Ensure it's at the top layer */
}

/* Modal container */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    z-index: 1000;
}

.modal-content h3 {
    margin-top: 0;
    font-size: 24px;
    color: #f7f7f7;
}

.modal-content label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #f7f7f7;
}

.modal-content input[type="text"],
.modal-content textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 150px;
    max-width: 580px;
    color: #333;
    margin-bottom: 15px;

}

.modal-content input[type="file"] {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.modal-content ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.modal-content ul li {
    margin: 5px 0;
}

.modal-content button {
    background-color: #265484;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.modal-content button:hover {
    background-color: #20456c;
}